/* General styling */

html {
    background-image: linear-gradient(#8b9da9, #fff6e4);
    box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .3);
    min-height: 100%;
}

h1 {
    padding: 30px 0;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 0 0px;
    font-size: 48px;
    font-weight: 300;
}

body {
    font-family: 'Roboto Mono', monospace;
}

table {
    width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: #000;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

textarea {
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    font-size: 42px;
    width: 594px;
    height: 50px;
    margin: 0 auto;
    display: block;
    resize: none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}

th, td {
    background-color: rgba(0, 0, 0, 0.897);
    border-radius: 12px;
    padding: 7px 10px 10px 10px;
    background: #2D2D2D;
    border: 1px solid #000;
    color: #CCC;
    letter-spacing: 0.1em;
    font-size: 90%;
    border: 2px solid #000000;
    text-align: center;
}

.operation {
    background: #191919;
    border: 1px solid #000;
    color: #CCC;
}

.operation:hover {
    background: #444040;
    color: white;
}

.equals {
    background: #C73D00;
}

#equals:hover {
    background: #f54a00;
}

.number:hover {
    background-color: #e7f0ef;
    color: black;
}

kbd {
    border: 1px solid #666666;
    border-radius: 4px;
    padding: 3px 5px;
    margin: 2px;
    color: #444444;
    text-decoration: none;
}

li {
    padding-top: 8px;
}

/* Overlay pop-up */

.popup-box {
    margin: auto;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    border: 2px solid black;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}